@charset  "UTF-8";

body{
    background: #260d3f;
    font: normal 15pt Arial;
}
header{
        color: white;
        text-align: center;
}
#msg{
    text-align: center;
}
#foto{
    text-align: center;
    margin: 10px;
}
section{
    padding: 7px;
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.47);
}
footer{

    color: white;
    text-align: center;
    font-style: italic;

}